{% extends "base.html" %}

{% block title %}Contato | Diego Bernardes Silva{% endblock %}

{% block content %}
    <main class="container">
        <section id="contact">
            <h3>Entre em Contato</h3>
            <address>
                <p><strong>Endereço:</strong><br>Rua Professor Arnauld Cabral, 62 - Nazareth<br>Vitória, Espírito Santo - Brasil</p>
                <p><strong>Telefone:</strong><br><a href="tel:+5527997396222">(+55) 27 997396222</a></p>
                <p><strong>Email:</strong><br><a href="mailto:diegobernardessv@gmail.com">diegobernardessv@gmail.com</a></p>
            </address>
        </section>

        <section id="social">
            <h4>Redes Sociais</h4>
                <address aria-label="Links Sociais">
                    <a href="https://www.linkedin.com/in/diegobernardessv" target="_blank">Linkedin</a> |
                    <a href="https://github.com/diegobernardessv" target="_blank">GitHub</a> |
                    <a href="https://gitlab.com/diegobernardessv" target="_blank">GitLab</a>
                </address>
        </section>
    </main>
{% endblock %}