{% extends "base.html" %}

{% block title %}Projetos | Diego Bernardes Silva{% endblock %}

{% block content %}
    <main class="container">
        <section id="projects">
            <h3>Meus Projetos</h3>

            <article>
                <h4>RomaneiosApp - Plataforma de Automação de Fluxo de Suprimentos</h4>
                <time class="datetime" datetime="2024-08">Ago 2024 - Presente</time>
                <p>O RomaneiosApp é uma plataforma que moderniza a gestão de romaneios, transformando processos manuais
                    em um controle robusto e digitalizado dos fluxos de suprimentos. Desenvolvido em Flask (Python) com
                    PostgreSQL,<br> ele otimiza tudo, desde o registro até a assinatura e o acompanhamento das operações
                    logísticas.</p>
                <ul>
                    <li><strong>🛠️ Backend:</strong> Construído com Python/Flask (Blueprints para modularidade).</li>
                    <li><strong>🖥️ Frontend:</strong> HTML, CSS, JavaScript com Bootstrap.</li>
                    <li><strong>🐘 Banco de Dados:</strong> PostgreSQL.</li>
                </ul>
                <p>🔗 <a href="https://romaneiosapp.dbsolutions.dev.br/" target="_blank">Acessar Projeto</a></p>
            </article>

            <article>
                <h4>NonConformity - Gestão de Não Conformidades</h4>
                <time class="datetime" datetime="2025-01">Jan 2025 - Presente</time>
                <p>Sistema web para modernizar e centralizar a gestão de Não Conformidades (NCR).</p>
                <ul>
                    <li><strong>🛠️ Backend:</strong> Python/Flask.</li>
                    <li><strong>🖥️ Frontend:</strong> HTML, CSS, JavaScript com Bootstrap.</li>
                    <li><strong>🐘 Banco de Dados:</strong> PostgreSQL.</li>
                </ul>
                <p>🔗 <a href="https://nonconformity.dbsolutions.dev.br/" target="_blank">Acessar Projeto</a></p>
            </article>

            <article>
                <h4>Portfólio Pessoal Dinâmico</h4>
                <time class="datetime" datetime="2025-04">Abr 2025 - Jun 2025</time>
                <p>Projeto de portfólio pessoal, uma aplicação web dinâmica desenvolvida para apresentar projetos,
                    habilidades e informações de contato de forma moderna e interativa.</p>
                <ul>
                    <li><strong>🛠️ Backend:</strong> Python/Flask.</li>
                    <li><strong>🖥️ Frontend:</strong> HTML, CSS, JavaScript com Bootstrap.</li>
                </ul>
                <p>🔗 <a href="https://www.dbsolutions.dev.br/" target="_blank">Acessar Projeto</a></p>
            </article>
        </section>
    </main>
{% endblock %}